.Title {
    text-align: left;
    width: 35%;
}

.Creator {
    text-align: left;
    width: 25%;
}

.Score {
    text-align: left;
    width: 10%;
}

.Year {
    text-align: left;
    width: 10%;
}

.Type {
    text-align: left;
    width: 10%;
}

.AlignmentButtons {
    visibility: hidden;
}

@media all and (max-width : 1024px) {
    td {
        font-size: 16px;
    }
    .Title {
        display: block;
        padding: 1%;
        width: 100%;
    }
    .Creator {
        display: block;
        padding: 1%;
        width: 120%;
    }
    .Score {
        display: block;
        padding: 1%;
        width: 120%;
    }
    .Year {
        display: block;
        padding: 1%;
        width: 120%;
    }
    .Type {
        display: block;
        padding-bottom: 10%;
        width: 120%;
    }
    .ItemButtons {
        width: 15%;
    }
}