.Title {
    text-align: left;
    width: 35%;
}

.Creator {
    text-align: left;
    width: 25%;
}

.Score {
    text-align: left;
    width: 10%;
}

.Year {
    text-align: left;
    width: 10%;
}

.Type {
    text-align: left;
    width: 10%;
}

.AlignmentButtons {
    visibility: hidden;
}