.Title {
    text-align: left;
    width: 50%;
}

.Creator {
    text-align: left;
    width: 25%;
}

.Score {
    text-align: left;
    width: 3%;
}

.Year {
    text-align: left;
    width: 5%;
}

.Type {
    text-align: left;
    width: 7%;
}